<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZMp9nS8MZf0UqwZG9iKjV6ugnQbqE37Q</string>
	<key>GCM_SENDER_ID</key>
	<string>469985465036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.funky.funkyworld</string>
	<key>PROJECT_ID</key>
	<string>funky-17216</string>
	<key>STORAGE_BUCKET</key>
	<string>funky-17216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469985465036:ios:2c4bc62786c2e29ac36869</string>
</dict>
</plist>